.create-account-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
  }
  
  .create-account-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
    margin-right:15px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .btn-primary {
    display: block;
    width: 102%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  .btn-primary:hover {
    background-color: #1e608b;
  }
  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
  }
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  